.heading-section:after {
  width: 30%;
  margin-left: -15%;
  background: #2c5364;
}
#footer {
	background: #2c5364;
	padding: 60px 0 40px;
}
.list {
	/* background:url('../img/background/bethany-legg-9248.jpg'); */
	background-position: center;
	background-size: cover;
}

::selection {
    background: #203a43;
}

.job {
	/* padding: 50px;
    padding-bottom: 25px; */
	padding: 60px 120px 20px 120px;
}

.page {
	text-align: center;
}

.caption {
	/*)text-align: center;*/
}

.blog {
	margin-bottom: 30px;
	position: relative;
	background: #fff;
	width: 90%;
	padding: 30px;
	float: right;
	margin-top: -3em;
	-webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}

.storeSortList li a:before {
	background: rgba(0, 0, 0, 0.5);
}

.storeSortList li a:hover:before {
	background: transparent;
}

.readMore {
	padding-top: 60px;
}

.headSize {
	height: 893px;
}
.section-gray {
	background: rgba(220,220,220);
}
/*-----store Content-----*/
.storeContent {
	width:70%;
}

.captionBottom span {
	margin-left: 33%;
}

.storeContent .captionBottom {
	margin-top: 15px;
}

.storeContent .btn:hover {
	background: #9fafbc !important;
}

.storeContent a {
	color: #203a43;
}

.storeContent h4 {
	font-weight: 900;
	color: #000;
	margin: 0 0 15px 0;
	font-size: 20px;
}

.storeContent .btn.btn-primary:hover {
	color: #203a43 !important;
}

.storeContent .btn.btn-primary {
	background: #203a43;	
}


.storeContent>.thumbnail {
	float: left;
	padding: 6px;
}

.titleName {
	position: absolute;
	width: 70%;
}

.bottomPlace {
	margin-top: 0px;
	margin-bottom: 1%;
}

/* //============== */
#fh5co-portfolio-list li a:before {
	background: rgba(0, 0, 0, 0.5);
}

#fh5co-portfolio-list li a:hover:before {
	/* background: rgba(0, 0, 0, 0.5); */
	background: transparent;
}