@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*========================================= */

/*-----override-----*/
.heading-section:after {
    width: 200px;
    margin-left: -100px;
    background: #203a43;
}

::selection {
    background: #203a43;
}

.list-group-item {
    border: 1px solid #9fafbc;
}

.a.list-group-item {
    color: #222;
}

a:hover {
    color: #ffcc88 !important;
}
/*========================================= */

/* <!-- pags --> */

.pageBox {
	width: 100%;
	height: 3%;
	clear: both;
	text-align: center;
}

.pages a:hover {
	color: #203a43 !important;
	background: #9fafbc !important;
}

/*========================================= */

/* <!-- title --> */
.searchTitle {
	padding: 5em 0 0 0;
	background: url(../../images/sortHeader.jpg);
	background-repeat: no-repeat;
	font-family: 'cwTeXYen', sans-serif;
}

.searchTitle h1 {
	font-size: 40px;
	color: #000000;
	font-weight: 900;
}

.searchTitle p {
	color: #222;
}

/*========================================= */

/*-----sort background-----*/
.searchBackground {
	background: url(../../images/DecorativeBackground04.jpg);
	background-position: center;
}

.searchCard {
	padding: 100px 0px 30px 0px;
	background: rgba(0, 0, 0, 0.5);
}

/*========================================= */
.noReq {
	margin: 5% 0;
	text-align: center;
}

.noReq a {
	color: #fff;
	font-size: 40px;
}

/*-----sort Content-----*/
.searchContent {
	width: 70%;
	margin: 0 auto;
}

.captionBottom span {
	margin-left: 30%;
}

.searchContent .captionBottom {
	margin-top: 15px;
}

.searchContent .btn:hover {
	background: #9fafbc !important;
}

.searchContent a {
	color: #203a43;
}

.searchContent h4 {
	font-weight: 900;
	color: #000;
	margin: 0 0 15px 0;
	font-size: 20px;
}

.searchContent .btn.btn-primary:hover {
	color: #203a43 !important;
}

.searchContent .btn.btn-primary {
	background: #203a43;	
}


.searchContent>.thumbnail {
	float: left;
	padding: 6px;
}

.titleName {
	position: absolute;
	width: 70%;
}

.bottomPlace {
	margin-top: 0px;
	margin-bottom: 1%;
}
