@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*========================================= */

/*-----override-----*/
.heading-section:after {
    width: 200px;
    margin-left: -100px;
    background: #203a43;
}

::selection {
    background: #203a43;
}

.list-group-item {
    border: 1px solid #9fafbc;
}

.a.list-group-item {
    color: #222;
}

/*========================================= */

/* <!-- pags --> */

.pageBox {
	width: 100%;
	height: 3%;
	clear: both;
	text-align: center;
}

.pages a:hover {
	color: #203a43 !important;
	background: #9fafbc !important;
}

/*========================================= */

/* <!-- title --> */
.sortTitle {
	padding: 5em 0 0 0;
	background: url(../../images/sortHeader.jpg);
	background-repeat: no-repeat;
	font-family: 'cwTeXYen', sans-serif;
}

.sortTitle h1 {
	font-size: 40px;
	color: #000000;
	font-weight: 900;
}

.sortTitle p {
	color: #222;
}

/*========================================= */

/*-----sort background-----*/
.sortBackground {
	background: url(../../images/DecorativeBackground04.jpg);
	background-position: center;
}

.sortCard {
	padding: 100px 0px 30px 0px;
	background: rgba(0, 0, 0, 0.3);
}

/*========================================= */

/*-----list-----*/
.myList {
	width: 10%;
	border-color: #203a43;
	text-align: center;
	margin-left: 5%;
	margin-right: 3%;
	float: left;
}

.myList .list-group a:hover {
	background: #9fafbc !important;
	color: #203a43 !important;
}

/*========================================= */

/*-----sort Content-----*/
.sortContent {
	width: 70%;
	float: left;
	margin-right: 5%;
}

.captionBottom span {
	margin-left: 26%;
}

.sortContent .captionBottom {
	margin-top: 15px;
}

.sortContent .btn:hover {
	background: #9fafbc !important;
}

.sortContent a {
	color: #203a43;
}

.sortContent h4 {
	font-weight: 900;
	color: #000;
	margin: 0 0 15px 0;
	font-size: 20px;
}

.sortContent .btn.btn-primary:hover {
	color: #203a43 !important;
}

.sortContent .btn.btn-primary {
	background: #203a43;	
}


.sortContent>.thumbnail {
	float: left;
	padding: 6px;
}



.bottomPlace {
	margin-top: 0px;
	margin-bottom: 1%;
}
