@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*========================================= */

/*-----override-----*/

#fh5co-blog-section {
    padding: 0;
    margin-bottom: 0px;
}

.heading-section:after {
    width: 200px;
    margin-left: -100px;
    background: #203a43;
}

.fh5co-blog .blog-text {
    margin-bottom: 0px;
    margin-top: -1em;
}

.row {
    margin-top: 0px;
    margin-bottom: 50px;
}

a {
    color: #203a43;
}

/*========================================= */

/* <!-- pags --> */

.pags {
    clear: both;
    margin: 0px auto;
    width: 20%;
    text-align: center;
}

/*========================================= */

/* <!-- title --> */

.searchTitle {
    padding: 5em 0 0 0;
    background: url(../../images/sortHeader.jpg);
    background-repeat: no-repeat;
    font-family: 'cwTeXYen', sans-serif;
}

.searchTitle h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 900;
}

.searchTitle p {
    color: #222222;
}

/*========================================= */

/*-----list-----*/

.myList {
    width: 12%;
    border-color: #203a43;
    text-align: center;
    margin-left: 8%;
    margin-right: 3%;
    float: left;
}

.myList .list-group a:hover {
    background: #203a43 !important;
    color: #ffcc88 !important;
}

/*========================================= */

/*-----sort context-----*/
.sortBackground {
    background: url(../../images/DecorativeBackground04.jpg);
    background-position: center;
}

.sortCard {
    padding: 100px 0px 30px 0px;
    background: rgba(0, 0, 0, 0.5);
}

.sortCard a:hover {
    color: #203a43 !important;
}
/*========================================= */

/*-----sort Content-----*/
.sortContent {
    float: left;
}