@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*========================================= */

/*-----override-----*/
#fh5co-blog-section {
	padding: 0;
	margin-bottom: 0px;
}

.heading-section:after {
	width: 200px;
	margin-left: -100px;
	background: #203a43;
}

.fh5co-blog .blog-text {
	margin-bottom: 0px;
	margin-top: -1em;
	padding: 20px;
}

.fh5co-blog .blog-text span {
	margin-top: 10px;
    margin-bottom: 10px;
}

.fh5co-blog .blog-text h3 {
	margin-bottom: 10px;
	font-weight: 900;
}

.comment {
	color: #000000;
}

.comment .icon-heart3 {
	color: #ff0000;
}
/*========================================= */

/* <!-- pags --> */
.pags {
	text-align: center;
}

.pags .pagination {
	width: 100%;
	text-align: center;
}

/*========================================= */

/* <!-- title --> */
.sortTitle {
	padding: 5em 0 0 0;
	background: url(../../images/sortHeader.jpg);
	background-repeat: no-repeat;
	font-family: 'cwTeXYen', sans-serif;
}

.sortTitle h1 {
	font-size: 40px;
	color: #000000;
	font-weight: 900;
}

.sortTitle p {
	color: #222222;
}

/*========================================= */

/*-----list-----*/
.myList {
	width: 12%;
	border-color: #203a43;
	text-align: center;
	margin-left: 8%;
	margin-right: 3%;
	float: left;
}

.myList .list-group a:hover {
	background: #9fafbc !important;
	color: #203a43 !important;
}

.myList .list-group-item {
	background-color: #203a43;
	color: #fff;
}

/*========================================= */

/*-----sort background-----*/
.sortBackground {
	background: url(../../images/DecorativeBackground04.jpg);
	background-position: center;
}

.sortCard {
	padding: 100px 0px 30px 0px;
	background: rgba(0, 0, 0, 0.5);
}

/*========================================= */

/*-----sort Content-----*/
.sortContent .btn:hover {
	background: #9fafbc !important;
}

.sortContent a {
	color: #203a43;
}

.sortContent .btn.btn-primary:hover {
	color: #203a43 !important;
}

.sortContent .btn.btn-primary {
	background: #203a43;
}

.sortContent {
	float: left;
}

.titleName {
	position: absolute;
	width: 70%;
}

.bottomPlace {	
	margin-top: 0px;
	margin-bottom: 50px;
}

.content {
	position: absolute;
    width: 80%;
    height: 20px;
}
