
 html{
    
}

/* .test{ */
/*     border: 1px #ffc0cb solid; */
/* }  */
.allTX{
	margin-left: 235px;
}

/* <!-- MainPage --> */
.meInfoMain{
	
}
/* <!-- sidebar --> */
.sidebar{
    height: 500px;
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 20px;
    position: fixed;
    
}
/* .sidebarBox{ */
/* 	position: relative; */
/*   display: inline-block; */
/*   width: 100px; */
/*   height: 100px; */
/*   background-color: #fff; */
/*   border-radius: 5px; */
/*   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
/*   border-radius: 5px; */
/*   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
/*   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
/* } */
/* .sidebarBox::after { */
/*   content: ""; */
/*   border-radius: 5px; */
/*   position: absolute; */
/*   z-index: -1; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
/*   opacity: 0; */
/*   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
/*   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
/* } */
/* .sidebarBox:hover { */
/*   -webkit-transform: scale(1.25, 1.25); */
/*   transform: scale(1.25, 1.25); */
/* } */
 
/* .sidebarBox:hover::after { */
/*     opacity: 1; */
/* }        */
.sidebar a{
    color: #aaa;
    line-height: 50px;
}
/* infomation   */
.infomation{
    /* height: 80%; */
    margin-top:100px;
    margin-left: 250px; 
    margin-bottom: 18%; 
    float: left;
    width: 900px;
}

.memberHis {	
    padding-bottom: 100px;
}

.taitle{
    font-size: 18px;
    color: #333;
    margin-left: 130px;

padding-bottom: 25px;
}
.fotoSetting{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 130px;
}
.fsWord{
   text-align: center;
   margin: 20px auto;
}
.fotoSetting a{
    color: #aaa;
    line-height: 30px;
}
.fotoCase{
      width: 150px;
    height: 150px;
    margin: 0px auto;
   
}

.fotoCase img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #aaa;
}
.nameAndEmail{
    width: 400px;
    margin-left: 400px;
    font-size: 16px;
    margin-top: -180px;
}
.nameAndEmail div{
    margin-bottom: 15px;     
}
.memIntroduce {
    margin-left: -270px;
   width: 530px;
} 
.memIntroduce textarea{
    width: 500px;
    height: 100px;
    border-radius: 3px;
}

.btChange button{
    width: 500px;
    background: #333;
    color: aliceblue;   
}
#textTalk{
    width: 500px;
    height: 100px;
    resize: none;
}
/* Manage Photos */

.imgForm{
/*     width: 700px; */
}
#imageCase{
/*     width: 700px; */
    height: 130px;
}
.imageCase img{
    max-width:100%;
}
#facebox img{
    max-width: 700px;
}
#facebox .popup{
    border:0px solid;
    border-color: #fff;
}
/* .nameAndEmail input{
    width: 100%;
    border-radius: 3px;
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
} */
/* <!-- change password --> */
.password{
    width: 700px;
}
.locaPassword{
   margin-top: 20px;
   padding-left: 70px;
}
.oldPassword{
    font-size: 20px;
    
}
.newPassword{
    font-size: 20px;
    margin-top: 20px;
}
.btPasswordChange{
    margin-left: 60px;
    margin-top: 70px;
   
}
.btPasswordChange button{
    width: 500px;
}
/* <from style.css> */
.fh5co-testimonial {
	position: relative;
	background: #fff;
	padding: 0;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}
/* <from style.css> */

/* <!-- copyright --> */
#footer{
	clear: both;
/* 	margin-top: 50px; */
   
}
#fh5co-wrapper {
    overflow-x: visible;
    position: relative;
}
/* <!-- copyright --> */
/* Dialog  */
/* .popup{
    box-align: center;
} */

#leftDiv {
    float: left;
    opacity: 0.5;
    margin: 180px auto;
}   

#rightDiv {
    float: right;
    opacity: 0.5;
    margin: 180px auto;
  }
/* ================================== */
/* 1520 */
@media only screen and (max-width: 1520px) {

}
/* ================================== */
/* 1024 */
@media only screen and (max-width: 1024px) {
  html{
    margin: 0px auto;
}

}
/* ================================== */
/* ================================== */
/* 990 */
@media only screen and (max-width: 990px) {
  html{
    margin: 0px auto;
}


}
/* ================================== */
/* 768 */
@media only screen and (max-width: 768px) {
    .title{
        font-size: 50px;
        
    }
    .subTitle{
        width: 300px;
        font-size: 10px;
        text-align: center;
        color: aliceblue;
        border-bottom: 1px solid;
        margin: 0 auto;   
    }
    .mainBanner{
        padding: 50px;
    
    }
    .list-group{
        width: 150px;
        /* padding-top: 200px; */
        margin-top: 200PX;
        margin-left: 10PX;
        text-align: center;
    }
    
}
/* ================================== */
/* 320 */
@media only screen and (max-width: 320px) {
    .title{
        font-size: 30px;
        
    }
    .mainBanner{
        padding: 30px;
    }
    .subTitle{
        width: 200px;
        font-size: 10px;
        text-align: center;
        color: aliceblue;
        border-bottom: 1px solid;
        margin: 0 auto;   
    }
    .appForm{
        width: 80%;
        margin: auto;
        text-align: center;
        color: aliceblue;
        margin-top: 30px;
    }
    .list-group{
        width: 100px;
        /* padding-top: 200px; */
        margin-top: 200PX;
        margin-left: 10PX;
        text-align: center;
    }
}

/*----------------------------------------------------*/
.captionBottom span {
	margin-left: 26%;
}

.row .captionBottom {
	margin-top: 15px;
}

.row .btn:hover {
	background: #9fafbc !important;
}

.row a {
	color: #203a43;
}

.row h4 {
	font-weight: 900;
	color: #000;
	margin: 0 0 15px 0;
	font-size: 20px;
}

.row .btn.btn-primary:hover {
	color: #203a43 !important;
}

.row .btn.btn-primary {
	background: #203a43;	
}


.row>.thumbnail {
	float: left;
	padding: 6px;
}

.bottomPlace {
	margin-top: 0px;
	margin-bottom: 1%;
}
.memberBackground {
	background: url(../../images/DecorativeBackground08.jpg);
	background-position: center;
	background-size: cover;
}

.memberCard {
	padding: 100px 0px 30px 0px;
	background: rgba(0, 0, 0, 0.5);
}
.form-control {
    height: 42px;
}
.navbar-nav>li>a {
    line-height: 25px;
}

a:hover {
    color: #203a43 !important;
}